@import "variables";

@mixin buttonPreset($border-color) {
  transition: all ease-in-out .25s;
  font-size: 1em;
  padding: 5px;
  border-radius: 4px;

  border: 2px solid $border-color;
  letter-spacing: 1px;
  text-transform: uppercase;
}


#searchButton {
  width: 175px;
  margin-left: 10px;
  color: $green;
  background-color: $bg3;
  @include buttonPreset($green)
}

#searchButton:hover {
  background-color: $green;
  color: #FFF;
}

#searchButton:active {
  outline: 5px;
}

.likebutton {
  margin: 10px;

  background-color: #292e33;
  color: $fg;
  @include buttonPreset($blue)
}

.likebutton > .liked {
  color: $blue;
}

.likebutton:hover > .liked {
  color: $fg;
}

.likebutton > .unliked {
  color: $fg;
}

.likebutton:hover {
  background-color: $blue;
}

.likebutton:active {
  outline: 5px;
}

.submitButton {
  margin-top: 10px;
  width: 175px;
  margin-left: 10px;
  color: $green;
  background-color: $bg3;
  @include buttonPreset($green)
}

.submitButton:hover {
  background-color: $green;
  color: $fg;
}

.submitButton:active {
  outline: 5px;
}


.cancelButton {
  margin-top: 10px;
  width: 175px;
  margin-left: 10px;
  color: $red;
  background-color: $bg3;
  @include buttonPreset($red)
}

.cancelButton:hover {
  background-color: $red;
  color: $fg;
}

.cancelButton:active {
  outline: 5px;
}
