@import "variables";


#root,
html {
  background-color: $bg0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

* {
  color: $fg;
}

img {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.index {
  width: 30vw;
  background-color: $bg1;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 5px 5px #1c1c1c;
  border-radius: 0.75%;
  padding: 2em;
  color: $fg;
}

.post {
  margin-top: 2em;
}


input[type=text] {
  background-color: $bg3 !important;
  border-color: $bg2 !important;
  color: $fg !important;

}


a {
  color: gray;
  text-decoration: none !important;
}

a:hover {
  color: lightgray;
}


.spinner {
  width: 20px;
  height: 20px;
  border: #292e33 3px solid;
  border-top: $blue 3px solid;
  border-radius: 50%;
  animation: spin 2s ease infinite;
  position: absolute;
}

.spinner + * {
  margin-left: 30px;
}

@keyframes spin {
  0% {
    transform: rotate(0)
  }

  100% {
    transform: rotate(360deg);
  }
}