@import "../../css/variables";

.dropdown-content {
  display: none;
  position: fixed;
  right: 0;
  top: 45px;
  background-color: $bg1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.activator:hover + .dropdown-content {
  display: block !important;
}

.dropdown-content:hover{
  display: block;
}

#icon:hover{
  color: darkgray;
}

ul {
  z-index: 999;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  position: fixed;
  background-color: $bg1;
  top: 0;
  left: 0;
  align-items: center;
}

.left {
  float: left;
}

li > * {
  display: block;
  text-align: center;
  margin: 2.5px;
}

li a, li p {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
}

li a:hover, li p:hover, li p>*:hover {
  color: darkgrey;
}

.right {
  float: right;
}

input, button {
  height: 40px;
  border-radius: 5px;
  margin-right: 5px;
}



