@import "../../css/variables";

.overlay {
  position: relative;
  background-color: $bg0;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

  box-shadow: 0 0 5px 5px #1c1c1c;
  border-radius: 0.75%;
  padding: 2em;
  margin-top: 80px;

}

.overlayWrapper {
  z-index: 9999;
  top: 0;
  width: 100%;
  position: fixed;
  height: 100%;
  left: 0;
  overflow-y: scroll;
}