@import "../../css/variables";

#postTitleInput {
  margin: 10px;
  width: 100%;
  background-color: $bg2;
}

::placeholder {
  color: $fg;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin-top: 20px;
  margin-left: 10px;
}

.btn {
  border: 2px solid $bg1;
  background-color: $bg2;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.5s ease;
}

.upload-btn-wrapper:hover > .btn {
  border: 2px solid $fg;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}